nao esta renderizando daqui
video form a partir de 42:33
<h1 class="text-center font-bold">Elixir Simplex</h1>
<div class="text-center">
    <p>Método:</p>
    <.form for={:new_po} let={f} phx-submit="po_form_submit">
        <%= text_input f, :message %>
    </.form>
    <p>Número de variáveis de decisão:</p>
    <input type="text" />
    <p>Número de restrições:</p>
    <input type="text" />
    <br>
    <button class="bg-cyan-400">Confirmar</button>
</div>